<td class="id hidden-all">
  <input type="text" name="id" value="<%= dd.id %>" >
</td>

<td class="seq hidden-label">
  <label for="sequence">Sequence</label>
  <input type="text" name="sequence" value="<%= dd.sequence %>" required>
</td>

<td class="mar hidden-label">
  <label for="mark">Mark</label>
  <input type="text" name="mark" value="<%= dd.mark %>" >
</td>

<td class="mea hidden-label">
  <label for="measure">Measure</label>
  <input type="text" name="measure" value="<%= dd.measure %>" >
</td>

<td class="dir hidden-label">
  <label for="movement">Direction</label>
  <input type="text" name="movement" value="<%= dd.movement %>" required>
</td>

<td class="pos hidden-label">
  <label for="position">Position</label>
  <input type="text" name="position" value="<%= dd.position %>" >
</td>

<td class="but hidden-label">
  <button type="button" id="dd-remove" class="ref-button">-</button>
</td>
