<main class="user-show">
  <header>
    <% if @user == current_user %>
      <ul class="user-bar">
        <li><%= link_to image_tag("icons/svg/user-star", alt:"Edit Profile",
        class:"user-icon user-star tooltip"), edit_profile_path(@profile) %></li>
        <li><%= link_to image_tag("icons/svg/user-settings", alt:"Edit Account",
        class:"user-icon user-settings"), edit_user_registration_path(@user) %></li>
      </ul>
    <% end %>
    <h2><%= @user.user_name %></h2>
  </header>

  <h4>
    <% if @profile.privacy_fn %>
      <%= @user.first_name %>
    <% end %>
    <% if @profile.privacy_ln %>
      <%= @user.last_name %>
    <% end %>
  </h4>

  <h6>
    <% if @profile.privacy_ce %>
      <%= @user.email %>
    <% end %>
  </h6>

  <h6>
    <% if @profile.privacy_lcity %>
      <%= @profile.l_city %>,
    <% end %>
    <% if @profile.privacy_lstate %>
      <%= @profile.l_state %>,
    <% end %>
    <% if @profile.privacy_lcountry %>
      <%= @profile.l_country %>
    <% end %>
  </h6>

  <fieldset class="ima">
    <legend>I am a...</legend>
    <% if @profile.dancer %>
      <%= image_tag("user_badges/dancer.svg", alt: "Dancer badge", width: "100px") %>
    <% end %>
    <% if @profile.caller %>
    <%= image_tag("user_badges/caller.svg", alt: "Caller badge", width: "100px") %>
    <% end %>
    <% if @profile.musician %>
    <%= image_tag("user_badges/musician.svg", alt: "Musician badge", width: "100px") %>
    <% end %>
    <% if @profile.band %>
    <%= image_tag("user_badges/band.svg", alt: "Band badge", width: "100px") %>
    <% end %>
    <% if @profile.choreographer %>
    <%= image_tag("user_badges/choreographer.svg", alt: "Choreographer badge", width: "100px") %>
    <% end %>
    <% if @profile.composer %>
    <%= image_tag("user_badges/composer.svg", alt: "Composer badge", width: "100px") %>
    <% end %>
  </fieldset>

  <% if @user.dances? %>
    <section class="dances">
      <h3>Dances</h3>
      <ul class="dance-list">
        <% @dances.each do |dance| %>
        <li>
          <%= render 'dances/dance_box', dance: dance %>
        </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @user.dance_comments? %>
    <section class="dance-comments">
      <h3>Comments</h3>
      <ul class="dance-comment-list">
        <% @dance_comments.each do |dc| %>
          <li>
            <%= render 'dance_comments/dance_comment_box', dc: dc %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <div class="bottom-line">
    <p>Last signed in on <%= @user.last_sign_in_at %></p>
  </div>
</main>
