<article class="dance-box">
  <section>
    <h1><%= link_to dance.title, dance_path(dance) %>
      <% if dance.year %>
        <bdi>(<%= dance.year %>)</bdi>
      <% end %>
    </h1>
  </section>

  <section>
    <!-- the name of the song -->
  </section>

  <section>
    <% if dance.choreographer && dance.choreographer != "" %>
      <p><bdi>Choreographed by:</bdi> <%= dance.choreographer %></p>
    <% end %>
    <p><bdi>Created by:</bdi> <%= link_to dance.user.user_name, user_path(dance.user_id) %></p>
  </section>

  <footer>
    <ul>
      <% if dance.creator?(current_user) %>
        <li><%= link_to image_tag("icons/svg/pencil.svg", alt:"Edit", title:"Edit",
        class:"icon"), edit_dance_path(dance) %></li>
      <% end %>
      <% if dance.creator?(current_user) || @admin_user %>
        <li><%= link_to image_tag("icons/svg/trashcan.svg", alt:"Delete", title:"Delete", class:"icon"), dance, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
  </footer>
</article>
