<main>
  <ul class='user-bar'>
    <li><%= render "devise/shared/links" %></li>
  </ul>
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="forms">

      <div class="field required">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, required: true %>
      </div>

      <div class="field required">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", required: true %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Sign In" %>
      </div>
    </div>
  <% end %>

</main>
