<!DOCTYPE html>
<html>
  <head>
    <title>My Terpsichore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  </head>
  <body>
    <!-- nav bar -->
    <header id="top-bar" class="top-bar" data-topbar>
      <aside class="main-user-bar">
        <%= link_to image_tag("My_Terp.svg", alt: "My Terpsichore Logo", class:"my-terp-logo"), root_path %>

        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.user_name, user_path(current_user.id) %></li>
            <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
            <li id='user-id' class='hidden-all'><%= current_user.id %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </aside>
    </header>

    <div class="flex-container">

      <!-- top nav bar -->
      <div class="nav-bar flex-item">
        <%= image_tag("Elisabeth_Louise_Vigee_Le_Brun.png", alt:"Portrait of Elisabeth Louise Vigee Le Brun as Terpsichore", class:"eliza-brun") %>
        <ul class="">
          <li><%= link_to "Members", users_path %></li>
          <li><%= link_to "Dances", dances_path %></li>
          <li><%= link_to "Comments", dance_comments_path %></li>
          <li><%= link_to "Comment Types", comment_types_path %></li>
          <li><%= link_to "Formations", formations_path %></li>
          <li><%= link_to "Keys", keys_path %></li>
          <li><%= link_to "Levels", dance_levels_path %></li>
          <li><%= link_to "Meters", meters_path %></li>
          <li><%= link_to "Moods", moods_path %></li>
          <li><%= link_to "Tempos", tempos_path %></li>
        </ul>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="awolkonowski">
          <a class="LI-simple-link" href='https://www.linkedin.com/in/awolkonowski?trk=profile-badge'>Aniela Wolkonowski</a>
        </div>
      </div>

      <div class="main-data flex-item">
        <!-- flash messages -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <!-- main content -->
        <%= yield %>
      </div>
    </div>

    <footer class="bottom-bar">
      <h1>Dance like no one is watching.</h1>
    </footer>
  </body>
</html>
